
<!--GET all products-->
<ul *ngFor="let producto of arrayProductos">
    <li>{{producto.id}} -{{producto.name}} - {{producto.price}} €</li>
</ul>
<!--POST all products-->
<form (ngSubmit) = "addProduct(idC.value, nameC.value, priceC.value)">
    <input #idC type="number" placeholder="Id product">
    <br>
    <input #nameC type="text" placeholder="Name product">
    <br>
    <input #priceC type="text" placeholder="Price product">
    <br>
    <button type="submit">Create product</button>
</form>

<br>

<!--DELETE product by id-->
<input #idD type="number" placeholder="Write the product id">
<button (click)="removeProduct(idD.value)">Delete a product</button>
<!--UPDATE all products-->

